:root {
    --primary-color: #6c63ff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    --secondary-color: #f5f2fe;
}

body {
    margin: 100px 0;
}

h1, 
h2, 
h3 {
    margin: 0;
}

h1 {
    font-size: 96px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    font-size: 18px;
    line-height: 1.5;
}

.navigation-links {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.navigation-links a {
    margin: 20px;
}

.primary-link {
    background: var(--primary-color);
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
    color: white;
}

.secondary-link {
    border: 1px solid var(--primary-color);
    color: var(--primary-color); 
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    box-shadow: var(--box-shadow);
    text-transform: capitalize; 
}

.homepage-link {
    color: var(--primary-color);
    display: block;
    text-align: center;
}

.about-paragraphs {
    display: flex;
    margin: 30px 0;
}

.about-paragraphs p {
    margin: 10px;   
}

.email-link {
    text-align: center;
    display: block;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    h1 {
      font-size: 50px;
      line-height: 1.5;
    }

    h2 {
       font-size: 34px;
       text-align: center;  
    }

    h3 {
      font-size: 20px;
    }

    p {
      text-align: center;
    }

    .project-link {
      display: block;
      text-align: center;
      margin: 0 20px;
    }

    .project-details {
      text-align: center;
    }
}





